* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    transition: 3s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: red;
    font-weight: 700;
    position: sticky;
    top: 0;
    width: min(100%, 1625px);
    z-index: 1002;
    white-space: nowrap;
}

.hamburger {
    font-size: 30px;
    display: none;
}

.logo {
    font-size: 40px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    white-space: nowrap;
}

li {
    margin-left: min(10px, 40px);
}

li a {
    text-decoration: none;
    background-color: red;
    padding: 5px 20px;
    color: black;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

li a:hover {
    color: white;
    box-shadow: 0px 0px 8px 0px white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    background-color: red;
    padding: 5px 20px;
    border-radius: 25px;
}

a:hover {
    color: white;
    box-shadow: 0px 0px 8px 0px white;
}
.hero{
    background: url(bg.png) center/cover no-repeat;
    position: relative;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.hero h1, .hero p, .hero a {
    margin-bottom: 0px;
    z-index: 1;
}

section {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 100px;
    width: min(100%, 1625px);
}

section h1 {
    font-size: 40px;
    /* margin-top: 20px; */
    margin-bottom: 30px;
}

#menu {
    height: 100%;
}

#menu .items,
#service .items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.item {
    margin: 0px 30px;
    gap: 15px;
    margin-bottom: 40px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
    width: 250px;
    line-height: 1;
    transition: 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
}


button {
    background-color: red;
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
    color: black;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    margin-bottom: 10px;
}

button:hover {
    color: white;
    box-shadow: 0px 0px 8px 0px white;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 30px;
    white-space: nowrap;
}

input,
textarea {
    padding: 10px;
}
footer{
    text-align: center;
    background-color: red;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: row;
    }

    .hamburger {
        display: block;
        z-index: 1001;
        position: fixed;
        top: 20px;
        right: 60px;
    }

    ul {
        flex-direction: column;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: red;
        width: 100%;
        height: 100vh;
        z-index: 1000;
    }

    nav.active ul {
        display: flex;
    }

    section h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 412px) {
    .item {
        flex-wrap: wrap;
    }

    section h1 {
        font-size: 24px;
    }

    section p {
        font-size: 14px;
    }
}