* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
button,
.hamburger {
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
nav {
    width: min(100%, 1625px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    color: white;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.logo {
    font-size: 40px;
    font-weight: 900;
    white-space: nowrap;
}

.hamburger {
    font-size: 40px;
    font-weight: 700;
    display: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style: none;
    white-space: nowrap;
}

li {
    margin-left: min(10px, 40px);
}

li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

li a:hover {
    color: aqua;
    padding: 5px 20px;
    border: 2px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px 0px white;
}

section a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

section {
    min-height: 100vh;
    width: min(100%, 1625px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 20px;
    background-color: black;
    color: white;
}

section h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
}

section p {
    color: grey;
    font-size: large;
    font-weight: 500;
}

section button {
    padding: 5px 20px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

section button:hover {
    border: 2px solid white;
    box-shadow: 0px 0px 8px 0px white;
}
.hero h1, .hero p, .hero button{
    margin-bottom: 0px;
    z-index: 2;
}
.hero{
    background: url(gc.png) no-repeat center/cover;
    position: relative;
    z-index: 0;
}
.hero img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0;
    object-fit: cover;
    transition: 0.8s ease-in-out;
}
.hero img.active{
    opacity: 1;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.64);
    z-index: 1;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.item{
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    padding: 20px;
    margin: 50px;
    gap: 20px;
    line-height: 1;
    transition: 0.3s ease-in-out;
}
.item:hover{
    transform: scale(1.1);
}
.item img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
label{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}
input, textarea{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid aqua;
}
@media screen and (max-width: 768px) {
    nav{
        flex-direction: row;
    }
    .hamburger{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1001;
    }
    ul{
        display: none;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: aqua;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
    }
    li{
        margin-left: 10px;
    }
    nav.active ul{
        display: flex;
    }
    h1{
        font-size: 28px;
    }
}
@media screen and (max-width: 412px) {
     li{
        margin-left: 10px;
    }
    h1{
        font-size: 24px;
    }
    section p{
        font-size: 14px;
    }
}